{%include 'shopheader.html'%}




 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: black;margin-top :350px;">VIEW ORDERS</h1>
      <h2 style="color: black;">ANY DAY IS PERFECT FOR SHOPPING..!</h2>
      <p align="center" style="color: black;">Scroll down to see more content</p>
      <div align="center" class="down-arrow">&#9660;</div>
    </div>
  </section><!-- End Hero -->
<br><br>

  <h1 align="center" style="color: black; text-decoration:underline"><img src="static/assets/img/grocery-cart.png" height="30px" width="30px" alt="">ORDERS</h1>

  <br><br>
  <table align="center" class="table" style="width : 800px;">
    <tr>
        <th>USER</th>
        <th>PRODUCT NAME</th>
        <th>PRODUCT</th>
        <th>QUANTITY</th>
        <th>AMOUNT</th>
    </tr>
    {%for i in data['view']%}
    <tr>
        <td>{{i['firstname']}}</td>
        <td>{{i['product_name']}}</td>
        <td><img src="{{i['image']}}" height="100px" width="100px" alt=""></td>
        <td>{{i['quantity']}}</td>
        <td>{{i['amount']}}</td>

    </tr>
    {%endfor%}
  </table>


{%include 'footer.html'%}