{%include 'shopheader.html'%}


 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: black;margin-top :350px;">UPDATE STOCK</h1>
      <h2 style="color: black;">ANY DAY IS PERFECT FOR SHOPPING..!</h2>
      <p align="center" style="color: black;">Scroll down to see more content</p>
      <div align="center" class="down-arrow">&#9660;</div>
    </div>
  </section><!-- End Hero -->

<form action="" method="post">
    <table align="center" class="table" style="width : 800px;">
        <tr>
            <th>UPDATE STOCK</th>
            <td><input type="text" name="stock" required></td>
        </tr>
        <tr>
            <th></th>
            <th><input type="submit" name="submit" class="btn btn-success" value="UPDATE"></th>
        </tr>
    </table>
</form>


{%include 'footer.html'%}