{%include 'shopheader.html'%}


 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: black;margin-top :350px;">WELCOME SHOP</h1>
      <h2 style="color: black;">ANY DAY IS PERFECT FOR SHOPPING..!</h2>
    </div>
  </section><!-- End Hero -->



<form action="" method="post">
    <table>
        <tr>
            <th>ADD QUANTITY</th>
            <td><input type="number" name="stock"></td>
        </tr>
        <tr>
            <th><input type="submit" name="submit" value="ADD"></th>
        </tr>
    </table>
</form>


{%include 'footer.html'%}